wagtail
Django
psycopg2-binary
djangorestframework
markdown
django-auditlog
django-filter
google-cloud-recaptcha-enterprise
wagtailosm
django-cors-headers
gdal
django-threadlocals
pyproj
pip
django-storages
gunicorn
whitenoise
django-session-timeout
drf-spectacular
django-defender
gdmty-drf-firebase-auth
gdmty-django-recaptcha-enterprise
gdmty-django-users