wagtail
Django
psycopg2-binary
djangorestframework
markdown
django-auditlog
django-filter
google-cloud-recaptcha-enterprise
wagtailosm
django-cors-headers
django-threadlocals
pyproj
django-storages
gunicorn
whitenoise
drf-spectacular
django-session-timeout
gdmty-django-users
gdmty-drf-firebase-auth
gdmty-django-recaptcha-enterprise
gdmty-django-defender
python-dotenv
dj-database-url
spatialite