{% extends 'sanamente/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="pagina-contenedor q-pt-lg">
        {# Nota de vista previa para grupos no disponible, quitar si se desarrolla esta funcionalidad  #}
        <div class="q-pa-lg">
            <q-card bordered flat class="no-box-shadow max-width-content q-mx-auto q-my-lg q-pa-lg">
                <div class="text-subtitle q-mb-lg">
                La vista previa de páginas raiz no disponible.
                <br>
                El contenido se debe agregar con páginas "Sección raíz" y Grupos de páginas
                </div>
            </q-card>
        </div>
    </div>

{% endblock content %}